* {
    margin:   0px;
    padding:  0px;
    border:   0px;
}

body {
    font-family: arial, sans-serif; 
    line-height: 20px;
}

div#footer {
    color:            #ffffff;
    background-color: #666666;
    padding: 15px 0px 15px 0px;
    clear: both;
    width: 100%;
}
div#footer a { text-decoration: none; }
div#footer a:link    { color: #ffffff; background-color: #666666; }
div#footer a:visited { color: #ffffff; background-color: #666666; }
div#footer a:hover   { color: #ffcccc; background-color: #666666; }
div#footer a:active  { color: #ffcccc; background-color: #666666; }

.left {
    text-align: left;
    float: left;
    margin-right: 10px;
}
.right {
    text-align: right;
    margin-left: 10px;
}
.center {
    text-align: center;
}

table.center {
    text-align: center;
    margin-left:   auto; 
    margin-right:  auto; 
    margin-top: 4px;
    margin-bottom: 20px;
}

sup {
    font-size: 0.8em;
    vertical-align: 0.4em;
    line-height: 100%;
}

sub {
    font-size: 0.8em;
    vertical-align: -0.2em;
    line-height: 100%;
}

input.pid {
    border-style: inset; border-width: 2px; width: 70px;
    margin: 2px 2px 0px 4px; text-align: center;
    color: #000000; background-color: #fceab6;
    font-family: monospace;
}
input.plot {
    border-style: inset; border-width: 2px; width: 70px;
    margin: 2px 2px 0px 4px; text-align: center;
    color: #000000; background-color: #ddffdd;
    font-family: monospace;
}
